<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/Scripts/PowerConsumption.js"></script>
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>

    @RenderSection("scripts", false)
</body>
</html>
